body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 100vh;
    margin: auto 0;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.result > h1 {
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    font-weight: 700;
}

.score-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    font-size: 4rem;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    margin: 0;
}

.possible-score {
    font-size: 18px;
    color: hsl(252, 100%, 67%);
    font-weight: 700;
    margin: 0;
}

.grade {
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.percentile {
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    text-align: center;
    margin: 0 12px 24px 12px;
    
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.summary > h1 {
    font-size: 20px;
    color: hsl(224, 30%, 27%);
    
}

.reaction,
.memory,
.verbal,
.visual {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 4px 12px;
    margin: 6px 0;
}

.right {
    margin-left: auto;
    color: hsl(224, 30%, 27%);
}

.right > span {
    color: hsl(0, 0%, 60%);
}

.summary img {
    margin-right: 12px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, .1);
    color: hsl(0, 100%, 67%);
    font-weight: 700;
}

.memory {
    background-color: hsla(39, 100%, 56%, .1);
    color: hsl(39, 100%, 56%);
    font-weight: 700;
}

.verbal {
    background-color: hsla(166, 100%, 37%, .1);
    color: hsl(166, 100%, 37%);
    font-weight: 700;
}

.visual {
    background-color: hsla(234, 85%, 45%, .1)   ;
    color: hsl(234, 85%, 45%);
    font-weight: 700;
}

.summary > button {
    padding: 10px;
    background-color: hsl(224, 30%, 27%);
    color:hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    margin: 8px;
}

.summary > button:hover {
    background-color: hsl(241, 81%, 54%);
    
}

@media (min-width:962px) {
    .container {
        flex-direction: row;
        width: 750px;
        align-items: center;
        height: 60vh;
        box-shadow: 20px 20px 25px rgba(0,0,0, .2);
    }
    .result {
        width: 375px;
        align-self: stretch;
        border-radius: 24px;
    }
    .summary {
        width: 375px;
    }
}