body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 100vh;
    margin: auto 0;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.result > h1 {
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    font-weight: 700;
}

.score-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    font-size: 4rem;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    margin: 0;
}

.possible-score {
    font-size: 18px;
    color: hsl(252, 100%, 67%);
    font-weight: 700;
    margin: 0;
}

.grade {
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.percentile {
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    text-align: center;
    margin: 0 12px 24px 12px;
    
}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}